doctype html
html(lang='en')
  head
    link(rel="stylesheet",href="/styles/style.css")
    title Edit news
  body
  form(method = 'post')
    div 
      input(type='text', name = 'title', value='#{news.title}')

    div
      input(type='text', name = 'author', value='#{news.author}')
    div
      textarea(name='body') #{news.body}
    div
      button() Save news
