doctype html
html(lang='en')
  head
    link(rel="stylesheet",href="/styles/style.css")
    title List News
  body
    for item in news
      h1 
        a(href='/news/one/#{item._id}') #{item.title}
      p #{item.author}
      p #{item.body}
      p #{item.date_string}
      div
        a(href='/news/edit/#{item._id}') edit news
      //- div
      //-   a(href='/news/#{item._id}') delete news
      form(action='/news/delete/#{item._id}', method='post')
        div
          button Delete News
